@font-face {
    font-family: BelovedCenturyGothicFont;
    src: url(GOTHIC.TTF);
}
body{
    background-color: darkgray;
    font-family: BelovedCenturyGothicFont;

}
.container{
    background-color: white;
    box-shadow: 0 0 10px gray;
}

header{
    background-color: lightgray;
    color: darkred;
    padding: 20px;
    text-align: center;
}

footer{
    background-color: purple;
    color: lightgray;
    padding: 10px;
    text-align: center;
    font-size: 80%;
}
